body {
    margin: 0;
}
#menu{

  background-color:  #899EC5;
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 20%;
  position: fixed; 
  height: 150%; 
}
#menu ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu li {
   background-color:#5D76A5; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
   border-radius: 6px;
   margin-bottom:3px;
   border:solid 1px #333A40;
}
#menu li li {
   width: 100%;
   max-height:0;
   overflow: hidden;
   border-radius:0;
   background: #5D76A5;
   border:none;
   margin:0;
}
#menu a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1em;
}
#menu ul li a, #menu li:hover li a {
  font-size:0.8em;
}
#menu li:hover {
   background: #729EBF;
}
#menu li li:hover {
   background: #999;
}
#menu ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu li:hover li {
  max-height: 15em;
}
.zoom {
margin-left:21%;
padding:16px;
text-align: center;
}
.zoom p {
text-align:center;
}
.zoom img {
height:300px;
width: 600px;
}
.zoom img:hover {
margin-left: 0%;
width:800px;
height:400px;
overflow: hidden;
}
hr{
  color: black;
}
h1{
    border: 5px solid black;
    border-radius: 7.5px;
    text-align: center;
    background-color: #3C5789;
    color: white;
 }
 h2{
    text-align: center;
    background-color: #3C5789;
    color: white;
 }
 h3{
    text-align: center;
    text-decoration: underline;
 }
 p{
    text-align: center;
 }
 td{
    border: 4px solid black;
    border-radius: 7.5px;
 }
 table{
    margin-left: auto;
    margin-right: auto;
 }
.positionlogo{

    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid black;
    border-radius: 7.5px;
    margin-bottom: 3%;
    margin-top: 3%;
}

/*.imageeaster{
        width: 900px;
        height: 450px;
    }*/
.centrer{
    text-align: center;
}
